{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
<div id="page-wrapper">
        <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Статистика продаж
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'homeadmin' %}">Главная страница</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Статистика продаж{{ clear_sum }}
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <label>Период</label>
                            <form class="form form-offer" method="get" name="filter_product" action="{% url 'periodstatistics' %}"
                                  id="filter_product" >{% csrf_token %}
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>С </label>
                                    <input class="form-control" name="date_with" id="date_with" type="text" placeholder="Дата С"
                                           value="{{ data_form.date_with|date:"Y-m-d" }}">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>ПО  </label>
                                    <input class="form-control" name="date_by" id="date_by" type="text" placeholder="Дата ПО"
                                           value="{{ data_form.date_by|date:"Y-m-d" }}">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-success" name="submit" value="1">Найти</button>
                                </div>
                            </div>
                            </form>
                        <div class="col-lg-12">
                           <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Сумма продаж</th>
                                            <th class="text-center">Сумма возвратов</th>
                                            <th class="text-center">Итоговая сумма</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">{{ sum_sales_period.price_per_page|floatformat:"0" }}</td>
                                            <td class="text-center">{% if  sum_returns_period.price_per_page %}{{ sum_returns_period.price_per_page|floatformat:"0" }}
                                                                    {% else %}0{% endif %}
                                            </td>
                                            <td class="text-center">{% if clear_sum != '0' %}{{ clear_sum }}{% else %}
                                                {{ sum_sales_period.price_per_page|floatformat:"0" }}{% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="{% static "js/products/datefilter.js" %}"></script>
{% endblock %}