{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
<div class="btn-modal-wrap btn-modal-wrap-1">
    <!-- Modal Deleted -->
    <div class="modal fade" id="is_deleted_ctr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true">
                    </span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color: #ff0012">Внимание!!!Удаление Товара!!!</h4>
                </div>
                 <div class="modal-body">
                     <h3 style="color: #ff0012">ВЫ действительно хотите удалить этот товар???</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default" id="cancel_type">Cancel</button>
                    <button type="button" class="btn btn-xs btn-danger" id="delete_type" data_id_type="">Deleted</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="page-wrapper">
        <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Добавление продукта
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'homeadmin' %}">Главная страница</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> <a href="{% url 'products' %}">Товары</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Добавить товар
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                {% if not maincategorys or not nameproducts %}
                    <p>Нет категорий или названий для отображения.Добавте данные!</p>
                {% else %}
                <form class="form form-offer" method="post" name="add_new_product" action="{% url 'createproduct' %}"
                  id="add_new_product" enctype="multipart/form-data">{% csrf_token %}
                    <div class="col-lg-6">
                        <div class="form-group {% if form.errors.articul %}has-error{% endif %}">
                            <label>Артикул</label>
                            <input class="form-control" placeholder="Артикул" id="articul" name="articul" type="text" value="{{ data.articul }}">
                            {% if form.errors.articul %}<label id="articul-error" class="error" for="articul">{{ form.errors.articul.0 }}</label>{% endif %}
                        </div>
                        <div class="form-group ">
                            <label>Категория</label>
                                <select class="form-control" name="maincategory" id="maincategory">
                                    {% for mcl in maincategorys %}
                                        <option name="{{ mcl.id }}" value="{{ mcl.id }}">{{ mcl.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        <div class="form-group ">
                            <label>Название</label>
                                <select class="form-control" name="nameproducts">
                                    {% for name_product in nameproducts %}
                                        <option name="{{ name_product.id }}" value="{{ name_product.id }}">{{ name_product.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                       {% if brends %}
                       <div class="form-group ">
                            <label>Бренд</label>
                                <select class="form-control" name="brends">
                                    {% for brend in brends %}
                                        <option name="0" value="">Выберите бренд</option>
                                        <option name="{{ brend.id }}" value="{{ brend.id }}">{{ brend.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    {% endif %}
                    {% if seasons %}
                         <div class="form-group ">
                            <label>Сезон</label>
                                <select class="form-control" name="seasons">
                                    {% for season in seasons %}
                                        <option name="" value="">Выберите сезон</option>
                                        <option name="{{ season.id }}" value="{{ season.id }}">{{ season.name }}</option>
                                    {% endfor %}
                                </select>
                         </div>
                         <div class="form-group">
                            <label>Цвет</label>
                            <input class="form-control" placeholder="Цвет" id="color" name="color" type="text" value="{{ data.color }}">
                         </div>
                         <div class="form-group {% if form.errors.price %}has-error{% endif %}">
                            <label>Цена(В формате 23.56)</label>
                            <input class="form-control" placeholder="Цена" id="price" name="price" type="text" value="{{ data.price }}">
                            {% if form.errors.price %}<label id="price-error" class="error" for="price">{{ form.errors.price.0 }}</label>{% endif %}
                         </div>
                         <div class="form-group {% if form.errors.wholesale_price %}has-error{% endif %}">
                            <label>Оптовая Цена(В формате 23.56)</label>
                            <input class="form-control" placeholder="Оптовая Цена" id="wholesale_price" name="wholesale_price" type="text" value="{{ data.wholesale_price }}">
                            {% if form.errors.wholesale_price %}<label id="wholesale_price-error" class="error" for="wholesale_price">{{ form.errors.wholesale_price.0 }}</label>{% endif %}
                         </div>
                         <div class="form-group {% if form.errors.purshase_price %}has-error{% endif %}">
                            <label>Цена закупки(В формате 23.56)</label>
                            <input class="form-control" placeholder="Цена закупки" id="purshase_price" name="purshase_price" type="text" value="{{ data.purshase_price }}">
                            {% if form.errors.purshase_price %}<label id="purshase_price-error" class="error" for="purshase_price">{{ form.errors.purshase_price.0 }}</label>{% endif %}
                         </div>
                         <div class="form-group">
                                <label>Описание товара</label>
                                <textarea class="form-control" rows="3" id="description" name="description">{{ data.description }}</textarea>
                         </div>
                         <div class="form-group">
                                <label>Заголовок товара</label>
                                <input class="form-control" id="caption" name="caption" placeholder="Заголовок" value="{{ data.caption }}">
                         </div>
                         <div class="form-group">
                                <label>Аттрибуты SEO(Для продвижения страницы в поисковых системах)</label>
                                <textarea class="form-control" rows="3" id="seo_attributes" name="seo_attributes">{{ data.seo_attributes }}</textarea>
                         </div>
                         <div class="form-group">
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" value="1" name="is_belarus" {% if data.is_belarus %} checked {% endif %}>Товар из Беларуси
                                  </label>
                              </div>
                              <div class="checkbox">
                                  <label>
                                       <input type="checkbox" value="1" name="is_active" {% if data.is_active %} checked {% endif %}>Сделать активным(Будет отображен на сайте)
                                  </label>
                              </div>
                              <div class="checkbox">
                                  <label>
                                     <input type="checkbox" value="1" name="is_new" {% if data.is_new %} checked {% endif %}>Пометить как новый товар
                                  </label>
                              </div>
                         </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <h2>Размеры</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Размер</th>
                                        <th>Колличество</th>
                                        <th>Удалить</th>
                                    </tr>
                                </thead>
                                <tbody id="height_size_id">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control" name="height[]">
                                                    {% for height_list in maincategorys.0.sizetable_set.all %}
                                                        <option name="{{ height_list.height }}" value="{{ height_list.height }}">{{ height_list.height }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                               <input class="form-control" placeholder="Колличество" id="count_height" name="count_height[]" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-sm btn-danger form-control" data-deletes="delete_size">Удалить Размер</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label>Добавить Размер</label>
                            <button type="button" class="btn btn-sm btn-success form-control" id="add_size_fields">Добавить Размер</button>
                        </div>
                         <h2>Изображения</h2>Допустимые форматы jpeg, png, jpg.Максимальный размер 5МБ.
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Добавить</th>
                                        <th>Фото</th>
                                        <th>Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="file" accept="image/jpeg, image/png, image/gif, image/jpg"
                                                   name="main_photo_path"
                                                   onchange="handleMainFileImg(this.files)" id="main_photo_path" style="display: none;" value="">
                                            <button type="button" class="btn btn-sm btn-success form-control" id="add_main_file_img">Добавить заглавное фото</button>
                                        </td>
                                        <td><img src="/media/nophoto.png" width="100px;" height="100px;" alt="" id="main_photo"></td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger form-control" id="del_main_photo" style="display: none;">Удалить фото</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="file" accept="image/jpeg, image/png, image/gif, image/jpg"
                                                   data-images="imgages-product" name="img_product[]" data-num-img="1" style="display: none;">
                                            <button type="button" class="btn btn-sm btn-success form-control" data-anothe="anothe_img">Добавить фото</button>
                                        </td>
                                        <td>
                                            <img src="/media/nophoto.png" width="100px;" height="100px;" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger form-control"  style="display: none;" data-delete-imgs='delete-imgs' >Удалить фото</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td> <input type="file" accept="image/jpeg, image/png, image/gif, image/jpg"
                                                   data-images="imgages-product" name="img_product[]" data-num-img="2" style="display: none;">
                                            <button type="button" class="btn btn-sm btn-success form-control" data-anothe="anothe_img">Добавить фото</button>
                                        </td>
                                        <td>
                                            <img src="/media/nophoto.png" width="100px;" height="100px;" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger form-control" style="display: none;" data-delete-imgs='delete-imgs' >Удалить фото</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td> <input type="file" accept="image/jpeg, image/png, image/gif, image/jpg"
                                                   data-images="imgages-product" name="img_product[]" data-num-img="3" style="display: none;">
                                            <button type="button" class="btn btn-sm btn-success form-control" data-anothe="anothe_img">Добавить фото</button>
                                        </td>
                                        <td>
                                            <img src="/media/nophoto.png" width="100px;" height="100px;" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger form-control"  style="display: none;" data-delete-imgs='delete-imgs'>Удалить фото</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="file" accept="image/jpeg, image/png, image/gif, image/jpg"
                                                   data-images="imgages-product" name="img_product[]" data-num-img="4" style="display: none;">
                                            <button type="button" class="btn btn-sm btn-success form-control" data-anothe="anothe_img">Добавить фото</button>
                                        </td>
                                        <td>
                                            <img src="/media/nophoto.png" width="100px;" height="100px;" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger form-control"  style="display: none;" data-delete-imgs='delete-imgs'>Удалить фото</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td> <input type="file" accept="image/jpeg, image/png, image/gif, image/jpg"
                                                   data-images="imgages-product" name="img_product[]" data-num-img="5" style="display: none;">
                                            <button type="button" class="btn btn-sm btn-success form-control" data-anothe="anothe_img">Добавить фото</button>
                                        </td>
                                        <td>
                                            <img src="/media/nophoto.png" width="100px;" height="100px;" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger form-control" style="display: none;" data-delete-imgs='delete-imgs'>Удалить фото</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div class="col-lg-12">
                        <div class="form-group">
                            <label>Добавить Товар</label>
                            <button type="submit" class="btn btn-sm btn-success form-control">Добавить Товар</button>
                         </div>
                    </div>
                </form>

                {% endif %}
                </div>
                <!-- /.row -->
            </div>
    </div>
<script type="text/javascript" src="{% static 'js/validator/jquery.validate.js' %}"></script>
<script src="{% static "js/products/fileupload.js" %}"></script>
<script src="{% static "js/products/addnewproduct.js" %}"></script>
{% endblock %}