{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<div class="btn-modal-wrap btn-modal-wrap-1">
    <!-- Modal Deleted -->
    <div class="modal fade" id="alert_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true">
                    </span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color: #ff0012">Внимание!!!</h4>
                </div>
                 <div class="modal-body">
                     <h3 style="color: #ff0012" id="text_alert"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-wrapper">
        <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Реализация
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'homeadmin' %}">Главная страница</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Продажа
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                <div class="alert alert-danger" id="not_price" style="display: none;"></div>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Внимание!!!</strong> {{ form.errors.count_num }}{{ form.errors.price }}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>Внимание!!!</strong> {{ form.non_field_errors }}
                    </div>
                {% endif %}
                    <div class="col-lg-2">
                        <form class="form form-offer" method="post" name="found_product" action="" id="found_product">{% csrf_token %}
                            <div class="form-group">
                                <label>Штрихкод/Артикул</label>
                                <input class="form-control" placeholder="Штрихкод/Артикул" id="barcode_articul" name="barcode" type="text" maxlength="13">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-success form-control">Найти</button>
                            </div>
                        </form>
                    </div>
                    <form class="form form-offer" method="post" name="barcodeseil_product" action=""
                              id="barcodeseil_product" >{% csrf_token %}
                              <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="0" />
                              <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0" />
                              <input id="id_form-MIN_NUM_FORMS" name="form-MIN_NUM_FORMS" type="hidden" value="0" />
                              <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="1000" />
                    <div class="col-lg-12" id="sell_product_div">
                        <div class="col-lg-12">
                        <h2>Данные товара</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Артикул</th>
                                        <th class="text-center">Категория</th>
                                        <th class="text-center">Название</th>
                                        <th class="text-center">Цена</th>
                                        <th class="text-center">Скидка</th>
                                        <th class="text-center">Цена со скидкой</th>
                                        <th class="text-center">Уступить</th>
                                        <th class="text-center">Размер</th>
                                        <th class="text-center">На складе</th>
                                        <th class="text-center">Колличество</th>
                                        <th class="text-center">Примечание</th>
                                        <th class="text-center">Отмена</th>
                                    </tr>
                                </thead>
                                <tbody id="products_list">
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    <div class="row" id="cancel_ceil" style="display: none";>
                        <div class="col-md-4 col-md-offset-9">
                            <p>Общая сумма - <span id="total_amount_all">0</span></p>
                            <span id="true_total_amount" style="display: none">0</span>
                                <button type="submit" class="btn btn-sm btn-success">Продать</button>
                                <a type="button" class="btn btn-sm btn-danger" href="{% url 'homeadmin' %}">Отмена</a>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
    </div>
<div class="hellopreloader">
    <div class="hellopreloader_preload" id="hellopreloader_preload"></div>
</div>
<script>
    var sizecount = {

    };

</script>
    <script src="{% static 'js/barcodesalep.js' %}"></script>
{% endblock %}