<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Observables в KnockoutJS</title>
</head>
<body>
<div>
<p data-bind="text: phoneName"></p>
<p data-bind="text: phoneCompany"></p>
</div>
<p><button id="changePhoneBtn">Изменить</button></p>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
<script>
var viewModel = {
    phoneName: ko.observable("Lumia 650"),
    phoneCompany: ko.observable("Microsoft")
};
ko.applyBindings(viewModel);

var changePhoneBtn = document.getElementById("changePhoneBtn");
changePhoneBtn.addEventListener("click", function (e) {

    viewModel.phoneName("Lumia 950 XL"); // изменяем наблюдаемый объект
});
viewModel.phoneName.subscribe(function(newValue) {
    alert("Новое значение " + newValue);
});
</script>
</body>
</html>