{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
<div id="page-wrapper">
        <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Продать товар
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'homeadmin' %}">Главная страница</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Продать товар {{ product_data }} {{ tab_products }}
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <form class="form form-offer" method="get" name="filter_product" action="{% url 'filterproduct' %}"
                              id="filter_product" >{% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product_data.id }}"/>
                        <div class="col-lg-12">
                        <h2>Данные товара</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Артикул</th>
                                        <th class="text-center">Категория</th>
                                        <th class="text-center">Название</th>
                                        <th class="text-center">Цена</th>
                                        <th class="text-center">Скидка</th>
                                        <th class="text-center">Размер</th>
                                        <th class="text-center">На складе</th>
                                        <th class="text-center">Колличество</th>
                                        <th class="text-center">Продать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{ product_data.articul }}</td>
                                        <td class="text-center">{{ product_data.maincategory.name }}</td>
                                        <td class="text-center">{{ product_data.nameproduct.name }}</td>
                                        <td class="text-center">{{ product_data.price }}</td>
                                        <td class="text-center">/index.html</td>
                                        <td class="text-center">1265</td>
                                        <td class="text-center">32.3%</td>
                                        <td class="text-center">$321.33</td>
                                        <td class="text-center">$321.33</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
{#                        <div class="col-lg-2">#}
{#                            <div class="form-group ">#}
{#                            <label>Категория</label>#}
{#                                <select class="form-control" name="maincategory_id">#}
{#                                    <option name="0" value="">Выберите Категорию</option>#}
{#                                    {% for mcl in maincategorys %}#}
{#                                        <option name="{{ mcl.id }}" value="{{ mcl.id }}" {% if mcl.id == data_form.maincategory_id|strtoint %} selected {% endif %}>#}
{#                                            {{ mcl.name }}#}
{#                                        </option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-2">#}
{#                             <div class="form-group ">#}
{#                                 <label>Название</label>#}
{#                                     <select class="form-control" name="nameproduct_id">#}
{#                                             <option name="0" value="">Выберите Название</option>#}
{#                                         {% for name_product in nameproducts %}#}
{#                                             <option name="{{ name_product.id }}" value="{{ name_product.id }}"#}
{#                                                     {% if name_product.id == data_form.nameproduct_id|strtoint %} selected {% endif %}> {{ name_product.name }}#}
{#                                             </option>#}
{#                                         {% endfor %}#}
{#                                     </select>#}
{#                             </div>#}
{#                        </div>#}
{#                        #}


                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
    </div>
<script>
    var sizecount = {};

</script>
{% endblock %}