{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
<div id="page-wrapper">
        <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Продать товар
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'homeadmin' %}">Главная страница</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Продать товар {{ product_data }} {{ tab_products }}
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <form class="form form-offer" method="get" name="filter_product" action="{% url 'filterproduct' %}"
                              id="filter_product" >{% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product_data.id }}"/>
                        <div class="col-lg-12">
                        <h2>Данные товара</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Артикул</th>
                                        <th class="text-center">Категория</th>
                                        <th class="text-center">Название</th>
                                        <th class="text-center">Цена</th>
                                        <th class="text-center">Скидка</th>
                                        <th class="text-center">Размер</th>
                                        <th class="text-center">На складе</th>
                                        <th class="text-center">Колличество</th>
                                        <th class="text-center">Продать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{ product_data.articul }}</td>
                                        <td class="text-center">{{ product_data.maincategory.name }}</td>
                                        <td class="text-center">{{ product_data.nameproduct.name }}</td>
                                        <td class="text-center">{{ product_data.price }}</td>
                                        <td class="text-center">
                                            <input name="lost_num" type="number" id="lost_num" value="0">
                                        </td>
                                        <td class="text-center">
                                            <select class="form-control" name="size" id="size">
                                                {% for size in product_data.sizecount.all %}
                                                    <option name="{{ size.id }}" value="{{ size.id }}">
                                                        {{ size.size }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td class="text-center" id="in_stock">{{ product_data.sizecount.all.0.count_num }}</td>
                                        <td class="text-center">
                                            <input name="count_num" value="0" id="count_num"/>
                                        </td>
                                        <td class="text-center">$321.33</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
    </div>
<script>
    var sizecount = {
    {% for size in product_data.sizecount.all %}
        '{{ size.id }}':{{ size.count_num }},
    {% endfor %}
    };

</script>
    <script src="{% static 'js/products/productsale.js' %}"></script>
{% endblock %}